<div class="header-content">
  <%= link_to image_tag("top-logo.png", class:"header-logo"), items_path %>
  <div class="header-right">
    <p>ログインユーザー：</p>
    <%= link_to current_user.name, "#", class: "login-name",id: "user-name" %>
    <%= image_tag "top-menu-icon.png", class:"user-menu-icon login-name", id: "user-menu-icon" %>
  </div>
  <ul class="name-lists" id="pull-down">
    <li class="pull-down-list">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout",id: "user-logout" %>
    </li>
    <li class="pull-down-list">
      <%= link_to 'マイページ',"#"  %>
    </li>
    <li class="pull-down-list">
      <%= link_to 'お問い合わせ', "#" %>
    </li>
  </ul>
</div>